section{
  .all-FAQ{
    .top-part{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #ffffff;
      p{
        max-width: 550px;
        margin-bottom: 5px;
        span{
          color: #ffffff;
        }
      }
      .buttons{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        .red-button-head{
          min-width: 240px;
          margin-left: auto;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 10px;
          cursor: pointer;
          min-height: 50px;
          display: block;
          margin-right: 5px;
          margin-bottom: 5px;
          img{
            margin-right: 35px;
          }
          span{
            font-size: 15px;
          }
        }
        a{
          display: block;
          min-width: 240px;
          padding: 12px 15px;
          text-align: center;
          min-height: 50px;
          margin-right: 5px;
          margin-bottom: 5px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          border: 1px solid #ffffff;
          p{
            color: #ffffff;
            text-transform: uppercase;
            margin: 0;
            &:last-of-type{
              color: #26e4a0;
              font-size: 15px;
              font-weight: 300;
              margin-left: 30px;
              i{
                margin-left: 2px;
              }
            }
          }
          &:hover{
            background: #ffffff;
            p{
              color: #04000F;
            }
          }
        }
      }
    }
    .right-part{
      max-width: 100%;
      .FAQ_nav{
        border: 1px solid #ffffff;
        max-width: 600px;
        width: 100%;
        margin-left: auto;
        p{
          border: none;
          margin: 0;
          padding: 8px 2px;
          color: #5d6989;
          &:before{
            display: none;
          }
          &:hover{
            background: #ffffff;
            color: #1f1e23;
          }
        }
        .active{
          color: #1f1e23;
          background: #ffffff;
        }
      }
      .all-blocks{
        .block{
          h3{
            text-transform: none;
            font-weight: 700;
          }
        }
      }
    }
  }
}

.light_page{
  section{
    .all-FAQ{
      .top-part{

        border-bottom: 1px solid #ffffff;
        p{

          span{
            color: #1f1e23;
          }
        }
        .buttons{

          .red-button-head{
          }
          a{
            border: 1px solid #5d6989;
            p{
              color:#5d6989;
              &:last-of-type{
                color: #26e4a0;
                i{
                }
              }
            }
            &:hover{
              background: #5d6989;
              p{
                color: #ffffff;
              }
            }
          }
        }
      }
      .right-part{

        .FAQ_nav{
          border-bottom: 1px solid #c5cdd8;
          p{

            color: #5d6989;
            &:before{

            }
            &:hover{
              background: #ffffff;
              color: #1f1e23;
            }
          }
          .active{
            border-bottom: 1px solid #192639;
            background-color: #fff;
            color: #192639;
          }
        }
        .all-blocks{
          .block{
            h3{
              text-transform: none;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  section{
    .all-FAQ{
      display: block;
    }
  }
}

@media (min-width: 1024px) {
  section{
    .all-FAQ{
      .right-part{
        .all-blocks{
          .block{
            h3{
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  section{
    .all-FAQ{
      .right-part{
        .FAQ_nav{
          margin-bottom: 0;
        }
        .all-blocks{
          margin-top: -35px;
          .block{
            h3{
              padding-right: 620px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  section{
    .all-FAQ{
      padding-top: 0;
      padding-right: 0;
    }
  }
}

@media (min-width: 1600px) {
  section{
    .all-FAQ{
      .top-part{
        .buttons{
          .red-button-head{
            margin-right: 20px;
          }
          a{
            margin-right: 0;
          }
        }
      }
    }
  }
}