<header class="header" id="header">
  <div class="container">
    <div class="all-head">
      <div class="left-part">
        <a href="index.html#header" class="logo">
          <img src="img/front.png" alt="" class="mob">
          <img src="img/logo.png" alt="" class="desc">
          <img src="img/light_logo.png" alt="" class="light_logo">
        </a>
        <div class="change-language">
          <img src="img/arr-lang.png" alt="" class="arr1">
          <img src="img/arr-lang2.png" alt="" class="arr2">
          <p class="showText">EN</p>
          <div class="all-hidd">
            <p class="hiddenText">EN</p>
            <p class="hiddenText">RU</p>
            <p class="hiddenText">de</p>
            <p class="hiddenText">zh</p>  
          </div>        
        </div>
      </div>
      <div class="right-part">
        <div class="theme_color">
          <div class="btn">
            <a href="javascript:void(0)" class="light"><i class="icon-i_16"></i> </a>
            <a href="javascript:void(0)" class="dark"><i class="icon-i_17"></i></a>

          </div>
        </div>
        <div class="registration open-log not-persoanl">
          <i class="icon-i_1"></i>
          <p>Log in</p>
        </div>
        <span class="not-persoanl">or</span>
        <a href="javascript:void(0)" class="red-button-head open-reg not-persoanl">Sign UP</a>
        <div class="personal">
          <p><img src="img/block.png" alt="">Secure connection</p>
          <p>Welcome: <span> Alexander Smith</span></p>
          <a href="">
            <i class="icon-support"></i>
          </a>
          <a href="account-settings.html">
            <i class="icon-settings"></i>
          </a>
          <a href="index.html">
            <img src="img/Log_out.png" alt="">
          </a>
        </div>
      </div>
      <div class="theme_color">
        <div class="btn">
          <a href="javascript:void(0)" class="light"><i class="icon-i_16"></i> </a>
          <a href="javascript:void(0)" class="dark"><i class="icon-i_17"></i></a>

        </div>
      </div>
      <div class="burg-menu">
        <div class="burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav>
          <div class="right-part">

            <div class="registration  open-log not-personal">
              <i class="icon-i_1"></i>
              <p>Log in</p>
            </div>
            <span class=" not-personal">or</span>
            <a href="javascript:void(0)" class="red-button-head open-reg  not-personal">Sign UP</a>
            <div class="personal personal-right">
              <p><img src="img/block.png" alt="">Secure connection</p>
              <p>Welcome: <span> Alexander Smith</span></p>
              <p class="open-mob-balance"><strong>My balance</strong></p>
              <a href="">
                <i class="icon-support"></i>
              </a>
              <a href="account-settings.html">
                <i class="icon-settings"></i>
              </a>
              <a href="index.html">
                <img src="img/Log_out.png" alt="">
              </a>
            </div>
          </div>
          <ul class="mob-nav-ul not-personal">
            <li><a href="index.html#top-banner">Home</a></li>
            <li><a href="index.html#about">About</a></li>
            <li><a href="index.html#plan">Plans & pricing</a></li>
            <li><a href="index.html#aff">Affilatiates</a></li>
            <li><a href="index.html#new">News</a></li>
            <li><a href="FAQ.html">FAQ</a></li>
            <li><a href="index.html#contact">Contact us</a></li>
          </ul>
          <ul class="personal-nav" >
            <div>
              <li class="active"><a href="index.html#top" >Account</a></li>
              <li><a href="index.html#about">Invest</a></li>
              <li><a href="index.html#plan">Finance</a></li>
              <li><a href="index.html#aff">Withdraw</a></li>
              <li><a href="index.html#new">Partners</a></li>
              <li><a href="index.html#FAQ">Transactions</a></li>
            </div>
          </ul>
          <div class="social">
            <p><a href=""><i class="icon-facebook"></i></a></p>
            <p><a href=""><i class="icon-youtube"></i></a></p>
            <p><a href=""><i class="icon-telegram"></i></a></p>
            <p><a href=""><i class="icon-twitter"></i></a></p>
          </div>

        </nav>
      </div>
    </div>
  </div>
</header>