<div class="navigation">
  
  <div class="balance-block">
    <div class="show-block">
      <img src="img/arr5.png" alt="" class="arr-img">
      <span>My balance:</span>
      <p>
        <strong>$ 1 568.33</strong>
        <span>+$ 33.00</span>
      </p>
    </div>
    <div class="hidden-block">
      <ol>
        <li class="white">
          <img src="img/bitcoin.png" alt="">
          <p>1.500567 BTC</p>
        </li>
        <li class="white">
          <img src="img/ETHEREUM.png" alt="">
          <p>280.500567 ETH</p>
        </li>
        <li class="white">
          <img src="img/Payeer.png" alt="">
          <p>1.500567 BTC</p>
        </li>
        <li class="white">
          <img src="img/Perfect_Money.png" alt="">
          <p>1.500567 BTC</p>
        </li>
        <li>
          <img src="img/2-layers.png" alt="">
          <p>0.00 USDT</p>
        </li>
        <li>
          <img src="img/LTC.png" alt="">
          <p>0.00 LTC</p>
        </li>
        <li>
          <img src="img/Xrp.png" alt="">
          <p>0.000000 XRP</p>
        </li>
      </ol>
    </div>
  </div>

  <ul class="navigation-without-full" >
    <div id="navigation-without-full">
      <li class="main-pers-nav active"><a href="account-main-personal-area.html" >Account</a></li>
      <li class="invest-nav"><a href="account-invest.html">Invest</a></li>
      <li class="finance-nav"><a href="account-finance.html">Finance</a></li>
      <li class="withdraw-nav"><a href="account_withdrow.html">Withdraw</a></li>
      <li class="partners-nav"><a href="acc-partners.html">Partners</a></li>
      <li class="transaction-nav"><a href="acc-transaction.html">Transactions</a></li>
    </div>
  </ul>

  <article class="latest-news">
    <h5>Latest news</h5>
    <div class="one-news">
      <a href="main-news.html">Bitcoin Investors Pocketed 42% in Gains During the Second Quarter of 2020</a>
      <span class="data">Jan 30, 2020  |  News</span>
    </div>
    <div class="one-news">
      <a href="main-news.html">Bitcoin Investors Pocketed 42% in Gains During the Second Quarter of 2020 </a>
      <span class="data">Jan 30, 2020  |  News</span>
    </div>
    <div class="one-news">
      <a href="main-news.html">Bitcoin Investors Pocketed 42% in Gains During the Second Quarter of 2020 </a>
      <span class="data">Jan 30, 2020  |  News</span>
    </div>
    <a href="index.html#news" class="but-link">All news</a>
    <div class="theme_color">
      <p>Display mode</p>
      <div class="btn">
        <a href="javascript:void(0)" class="light"><i class="icon-i_16"></i> </a>
        <a href="javascript:void(0)" class="dark"><i class="icon-i_17"></i></a>

      </div>
    </div>
  </article>
</div>