<div class="navigation">
  
  <ul class="navigation-without-full" >
    <div id="navigation-without-full" class="navigation-without-full2">
      <li class="active"><a href="#top" >Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#plan">Plans & pricing</a></li>
      <li><a href="#aff">Affilatiates</a></li>
      <li><a href="#new">News</a></li>
      <li><a href="#FAQ">FAQ</a></li>
      <li><a href="#contact">Contact us</a></li>
    </div>
  </ul>
  <div class="links">
    <p><a href="Terms-Conditions.html">Terms and Conditions</a></p>
    <p><a href="Privacy-Policy.html">Privacy Policy</a></p>
  </div>
  <div class="theme_color">
    <p>Display mode</p>
    <div class="btn">

      <a href="javascript:void(0)" class="light"><i class="icon-i_16"></i> </a>
      <a href="javascript:void(0)" class="dark"><i class="icon-i_17"></i></a>
    </div>
  </div>
</div>