<div class="back-dark"></div>

<div class="pop-up registration-pop">
  <div class="close-pop">
    <img src="img/close-pop.png" alt="">
    <img src="img/close-hov.png" alt="">
  </div>
  <div class="title">
    <h6>Already have an account?</h6>
    <a href="javascript:void(0)" class="red-button-head  open-log">Sign IN</a>
  </div>
  <div class="content">
    <h3>Registration</h3>
    <form action=""  autocomplete="off">
      <div class="div-inp correct" >
        <i class="icon-person2"></i>
        <input type="text" class="inp" placeholder="Username" required>
      </div>
      <div class="div-inp correct">
        <i class="icon-mail"></i>
        <input type="email" class="inp" placeholder="Email" required class="email-inp">
        <p class="cor">This email not used</p>
      </div>
      <div class="div-inp">
        <i class="icon-invite"></i>
        <input type="email" class="inp" placeholder="Your inviter email" required>
        <span>After registration you cannot change inviter.</span>
      </div>
      <div class="div-inp">
        <i class="icon-pass"></i>
        <input type="password" class="inp" placeholder="Password" required>
      </div>
      <div class="div-inp uncorrect">
        <i class="icon-pass"></i>
        <input type="password" class="inp" placeholder="Retipe password" required>
        <p class="uncor">Password does not match!</p>
      </div>
      <div class="check">
        <input type="checkbox" checked id='good'>
        <label for="good">Agree with terms and conditions</label>
      </div>
      <button class="red-button-head">Create an account</button>
    </form>
  </div>
</div>

<div class="pop-up login-pop">
  <div class="close-pop">
    <img src="img/close-pop.png" alt="">
    <img src="img/close-hov.png" alt="">

  </div>
  <div class="title">
    <h6>Don't have an account yet? Register now</h6>
    <a href="javascript:void(0)" class="red-button-head open-reg">Sign UP</a>
  </div>
  <div class="content">
    <h3>Login</h3>
    <form action="">
      <div class="div-inp">
        <i class="icon-person2"></i>
        <input type="text" class="inp" placeholder="Username" required>
      </div>
      <div class="div-inp">
        <i class="icon-pass"></i>
        <input type="password" class="inp" placeholder="Password" required>
      </div>
      <strong class="open-rec">Forgot password?</strong>
      <button class="red-button-head">LOGIN</button>
    </form>
  </div>
</div>

<div class="pop-up rec-pop">
  <div class="close-pop">
    <img src="img/close-pop.png" alt="">
    <img src="img/close-hov.png" alt="">
  </div>
  <div class="title">
    <h6>Don't have an account yet? Register now</h6>
    <a href="javascript:void(0)" class="red-button-head open-reg">Sign UP</a>
  </div>
  <div class="content">
    <h3>Password recovery</h3>
    <form action="">
      <div class="div-inp">
        <i class="icon-mail"></i>
        <input type="email" class="inp" placeholder="Email" required>
      </div>
      <button class="red-button-head">Send password reset link</button>
    </form>
  </div>
</div>

<div class="pop-up2 create-ticket">
  <div class="close-pop">
    <img src="img/close-pop.png" alt="">
    <img src="img/close-hov.png" alt="">
  </div>
  <div class="content">
    <h4>Create ticket</h4>
    <p>Do you have any questions? Fill out the feedback form</p>
    <form action="">
      <select class="select-pop">
        <option value="Scalp-plan">Topic</option>
        <option value="Swing-plan">Topic</option>
        <option value="Day-plan">Topic</option>
      </select>
      <input type="text" placeholder="Title">
      <textarea placeholder="Message"></textarea>
      <button class="red-button-head">Create ticket</button>
    </form>
  </div>
</div>

<div class="pop-up2 balance-pop">
  <div class="close-pop">
    <img src="img/close-pop.png" alt="">
    <img src="img/close-hov.png" alt="">
  </div>
  <div class="content">
    <div class="balance-block">
      <div class="show-block">
        <span>My balance:</span>
        <p>
          <strong>$ 1 568.33</strong>
          <span>+$ 33.00</span>
        </p>
      </div>
      <div class="hidden-block">
        <ol>
          <li class="white">
            <img src="img/bitcoin.png" alt="">
            <p>1.500567 BTC</p>
          </li>
          <li class="white">
            <img src="img/ETHEREUM.png" alt="">
            <p>280.500567 ETH</p>
          </li>
          <li class="white">
            <img src="img/Payeer.png" alt="">
            <p>1.500567 BTC</p>
          </li>
          <li class="white">
            <img src="img/Perfect_Money.png" alt="">
            <p>1.500567 BTC</p>
          </li>
          <li>
            <img src="img/2-layers.png" alt="">
            <p>0.00 USDT</p>
          </li>
          <li>
            <img src="img/LTC.png" alt="">
            <p>0.00 LTC</p>
          </li>
          <li>
            <img src="img/Xrp.png" alt="">
            <p>0.000000 XRP</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="pop-up2 video-pop">
  <div class="close-pop">
    <img src="img/close-pop.png" alt="">
    <img src="img/close-hov.png" alt="">
  </div>
  <div class="content">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rWpgE6fVDHc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>